body{
    background-color: lightskyblue;
}
h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}
#editableMenu{
    margin: 30px;
}
#newMenuEntry{
    margin: 30px;
}